<mat-toolbar color="primary">
  Crypto Exchange
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Logout</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
      
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>

      </button>
  </mat-toolbar>
<br>

<br>            
<mat-tab-group>
  <mat-tab label="Currency Trend Graph">
  <div id="row1">
    <div id="column1">
      <app-exchange-currency-trend-line-graph></app-exchange-currency-trend-line-graph>
    </div>
    <div id="column2">
      <app-exchange-listings></app-exchange-listings></div>
    </div>
  </mat-tab>
  <mat-tab label="Worldwide Market Share">
  <div id="row1">
    <app-exchange-cap-piechart></app-exchange-cap-piechart>
  </div>
  </mat-tab>
</mat-tab-group> 